nav.navbar.navbar-default
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#') Brand
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                if user
                    li
                        a= `${user.firstName} ${user.lastName}`
                    li
                        a(href='/logout') Logout
                else
                    li
                        a(href=auth.links.loginLink) Login
                    li
                        a(href=auth.links.registerLink) Register
