.vacation-box
  h2= vacation.title
  hr
  p= vacation.description.slice(0, 255) + '...'
  hr
  .text-right
    if user && user.id == vacation.user
      a.btn.btn-default(href='/edit-vacation/' + vacation.id) Edit
