extends ../layout

block content
    .row
        .col-md-offset-3.col-md-6
            h2= app
            form(action='#{link}' method='post')
                .form-group
                    label(for='login') Login
                    input#login(name='login')
                .form-group
                    label(for='register') Register
                    input#register(name='register')
                .text-right
                    button.btn.btn-primary Sign in