form(action=action, method='post')
    if undefined !== inputs
        for value, name in inputs
            input(type='hidden', name=name, value=value)
    .form-group
        label(for='title') Title
        input.form-control(id='title', name='title', value=vacation ? vacation.title : '')
    .form-group
        label(for='description') Description
        textarea.form-control(id='description', name='description')= vacation ? vacation.description : ''
    .row
        .col-md-1
            label(for='status_active') Active
        .col-md-1
            input(type='radio' id='status_active' name='status' value='1' selected)
        .col-md-1
            label(for='status_inactive') Inactive
        .col-md-1
            input(type='radio' id='status_inactive' name='status' value='0')
    .text-right
        button.btn.btn-default Save