extends layout

block content
  h1= title

  if user && user.role && user.role.role === 'manager'
    a.btn.btn-default(href='/new-vacation') Create Job
    hr
  .row
    for vacation in vacations
      .col-md-4
        include layout/vacation
