doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include layout/menu
    .container
      block content
    script(src='/stylesheets/bootstrap.min.js')
